@require './theme/styles/config'
@require './styles/vuepress-tabs.styl'

.navbar .site-name.can-hide { 
    display none 
}

.navbar {
    height: 5rem
    padding-top: 1.4rem
    padding-bottom: 1.4rem
    border-bottom: none
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.navbar .links {
    top: 1.4rem
}

.versions-link {
    line-height: 1.5rem
    vertical-align: bottom
}

.sidebar {
    top: 5rem
    background-color: #fbfbfb
}

.sidebar-heading {
    font-size: 1rem !important
    color: #2c3e50 !important
}

.sidebar-heading .arrow {
    opacity: 0.7
}

.content:not(.custom) > h1, 
.content:not(.custom) > h2, 
.content:not(.custom) > h3, 
.content:not(.custom) > h4, 
.content:not(.custom) > h5, 
.content:not(.custom) > h6 {
    margin-top: -5.1rem;
    padding-top: 6.6rem;
}

.content:not(.custom) > h1:first-child, 
.content:not(.custom) > h2:first-child, 
.content:not(.custom) > h3:first-child, 
.content:not(.custom) > h4:first-child, 
.content:not(.custom) > h5:first-child, 
.content:not(.custom) > h6:first-child {
    margin-top: -1rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content li {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

h4 {
    font-size: 1.1rem;
}

hr {
    margin-top: 3rem;
}

.icon.outbound {
    margin: 0 0 -.1rem .25rem;
}

.page-edit .edit-link a { margin-right: 0 }

.tabs-component-tabs {
    border-radius: 0
}

.tabs-component-tab-a {
   padding: 0.5rem 1rem; 
}

.tabs-component-panels {
    border-left: 0
    border-right: 0
    border-bottom: 0
    box-shadow: none
    padding: 0
}

.tabs-component-tab {
    font-size: 1rem
}

.tabs-component-panel {
    margin-top: -3.8rem;
    padding-top: 3.8rem;    
}

.custom-block.tip {
    background-color: #F5F7F9
    border-color: rgb(56, 132, 255)

    .custom-block-title,
    a {
        color rgb(56, 132, 255)
    }
}



@media (min-width: ($MQMobile + 1px)) {

    .tabs-component-tab {
        border-radius: 0
        border-color: transparent
        border-bottom-color: #ddd;
    }

    .tabs-component-tab.is-active {
        border: solid 1px #ddd
        border-bottom: solid 1px #fff
    }

    .tabs-component-panel {
        margin-top: -10rem;
        padding-top: 10rem;    
    }
}

@media (max-width: $MQMobile) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
        height 4rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    .navbar .logo-wrapper {
        text-align: center
    }
    .navbar .links {
        top: 50%;
        margin-top: -1.2rem;  
        padding-left: 0;  
    }
    .sidebar-button {
        top: 50%;
        transform: translateY(-50%);
    }
    .sidebar {
        top: 4rem;   
        padding-top: 0; 
    }
}